.DS_Store
dist/
dist-halo/
node_modules/
src-tauri/target/
thumbs.db
.idea/
yarn-error.log
.vscode/
debug.log
*.log
*.pid
vite.err
rendered-home.html
rendered-static.html
app-window.png
home.png
main-window-final.png
page-0.png
page-1.png
page-2.png
